* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}
/* common */
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 12px;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    padding: 18px 16px;
}

/* header */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    width: 100%;
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    padding: 8px 14px;
    font-size: 1.4rem;
    color: #4f5361;
}
.actions {
    margin-left: auto;
}

.action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}
.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    letter-spacing: 0.01rem;
    color: #000336;
}
.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    letter-spacing: 0.01rem;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* client */
.client {
    margin-top: 128px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}
.client .row-desc {
    margin-top: 23px;
}

.client .image {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

/* Guides */
.guides {
    margin-top: 200px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}
.guides .sub-title::before {
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    left: 50%;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background-color: #000339;
}

.guides .desc {
    margin: 20px auto 0px;
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    color: #5a6473;
}
/* list guide */

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.list-guide li {
    list-style: none;
}

.guidde-item {
    margin: 0 70px;
    text-align: center;
}

.guidde-item .titel {
    margin-top: 26px;
    font-weight: 500;
    line-height: 1.1;
    font-size: 2rem;
    color: #3b3c45;
}

.guidde-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}
.guidde-item .arow {
    margin-left: 6px;
}
.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guide-cta .btn {
    min-width: 170px;
}

.featured {
    margin-top: 230px;
}
.featured .sub-title {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.featured .desc {
    font-weight: 400;
    line-height: 1.88;
    font-size: 1.6rem;
    color: #5a6473;
}
.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}
.featured .link .arrow {
    margin-left: 8px;
}
